@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

html, body{
	height: 100%;
	max-width: 100%;
	font-family: calibri;
	background-color: #96beff;
	transition: 0.3s all;

}
.leftAddress{
	float: left;
	color: black;
	
}	
.rightAddress{
	float: right;
	color: black;
}
.content{
	background-color: white;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 10%;
	
	
}
h1,h2, h3, h4{
	font-family: "BenchNine";
	letter-spacing: 4px;
	margin-right: 0;
	padding: 0;
}
h1{
	font-size: 4.2em;
	
}
h2{
	font-size: 2em;
}
h4{
	font-size: 1.6em;
}
p{
	font-size: 1.2em;
	margin: 1px;
}
.navbar{
	position: fixed;
	display: block;
	width: 100%;
	
	padding: 0;
}
.navwrap{
	text-align: center;
	top: 0;
	margin-top: 0;
	padding-top: 0;
	width:100%;
	height: 100px;
	position: relative;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
}
.homelink{
	left: 20px;
	font-size: 30px;
	width: 15%;
	height: 60px;
	display: inline-block;
	float: left;
	position: relative;
	margin-top: 20px;
	padding-right: 20px;
}
.homelink a{
	padding-left: 5px;
	padding-right: 5px;
	background-color: black;
	color: #ff4f57;
	text-decoration: none;
	font-weight: bold;
}
.navlist{
	z-index: 6;
	right: 3%;
	width: 5%;
	height: 50px;
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 10px;
	
	
}
.Mathew{
	color: #96beff;
	float: left;
	
	position: relative;
	font-size: 1.4em;
	font-family: "BenchNine";
	
	
        -webkit-transform: translateX(-3px);
        
		background-color: white;
	display: none;
	
}
.Mathew:hover{
	color: white;
	/*transition: color 0.2s ease-in;*/
	  box-shadow:
                1px 1px #9b090f,
                2px 2px #9b090f,
                3px 3px #9b090f;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
		
		transition: transform 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease;
}
.telephone{
	height: 100px;
	padding:0;
}

.email{
	height: 100px;
	padding:0;
}

.telephonetooltip {
    position: relative;
	z-index: 20;
	float: right;
    display: inline-block;
    right: 20px;
	top: 200px;
	position: fixed;
	padding:0;
	margin:0;
	background: transparent;
	border-radius: 50%;
	transition: background 0.3s ease;
}

.telephonetooltip .telephonetooltiptext {
     visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 40;
    top: 40%;
    right: 105%;
}
.telephonetooltip:hover{
	background-color: white;
	border-radius: 50%;
	transition: background-color 0.3s ease;
	  box-shadow:
                1px 1px #2d22a5,
                2px 2px #2d22a5,
                3px 3px #2d22a5;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
	transition: transform 0.3s ease-in, background-color 0.3s ease-in;
	
}
.telephonetooltip:hover .telephonetooltiptext {
    visibility: visible;
	
}

.emailtooltip {
    position: relative;
	padding:0;
	margin:0;
	float: right;
    display: inline-block;
    right: 20px;
	top: 350px;
	position: fixed;
	background: transparent;
	border-radius: 50%;
	transition: background 0.3s ease;
}
.emailtooltip:hover{
	background-color: white;
	border-radius: 50%;
	transition: background-color 0.3s ease;
	  box-shadow:
                1px 1px #2d22a5,
                2px 2px #2d22a5,
                3px 3px #2d22a5;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
	transition: transform 0.3s ease-in, background-color 0.3s ease-in;
	
}
.emailtooltip .emailtooltiptext {
     visibility: hidden;
    width: auto;
	padding: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
	font-size: 20px;
    
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 105%;
}

.emailtooltip:hover .emailtooltiptext {
    visibility: visible;
}
.linkedin{
	height: 100px;
}
.linkedintooltip{
    position: relative;
	padding:0;
	margin:0;
	float: right;
    display: inline-block;
    right: 20px;
	top: 500px;
	position: fixed;
	background: transparent;
	border-radius: 50%;
	transition: background 0.3s ease;
}
.linkedintooltip:hover{
	background-color: white;
	border-radius: 50%;
	transition: background-color 0.3s ease;
	  box-shadow:
                1px 1px #2d22a5,
                2px 2px #2d22a5,
                3px 3px #2d22a5;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
	transition: transform 0.3s ease-in, background-color 0.3s ease-in;
	
}
.linkedintooltip .linkedintooptiptext {
     visibility: hidden;
    width: auto;
	padding: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 105%;
}

.linkedintooltip:hover .linkedintooptiptext {
    visibility: visible;
}

.navlist img{
	z-index: 6;
	height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 80%;
	filter: invert(100%);
	visibility: hidden;
}
.navlist img:hover{
	z-index: 7;
	transform: scale(1.1);
	background-color: white;
	  box-shadow:
                1px 1px #9b090f,
                2px 2px #9b090f,
                3px 3px #9b090f;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
	transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}
.name a{
	text-align: center;
	text-decoration: none;
	color: black;
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}
.name a:hover{
	color: #333366;
	transition: color 0.2s ease-in;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
.occupation{
	margin-top: 20px;
}
.block1{
	
	width: 100%;
	position: relative;
	text-align: center;
	
}
.mypic{
	border-radius: 5%;

}
.aboutme{
	
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	
	margin-bottom: 0;
}
.aboutme p{
	margin: 10px;
}
.lesswords{
	border: 1px black solid;
	background-color: white;
	font-family: calibri;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.morewords{
	border: 1px black solid;
	background-color: white;
	font-family: calibri;
	font-size: 16px;
}
#shortsummary{
	display: none;
	padding: 5px;
}
#longsummary{
	display: block;
	padding: 5px;
}

.education{
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
}
li{
	list-style: none;
}
.icon{
	transform: rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
	transition: all 0.8s linear;
	height: 80px;
	width: auto;
	margin-bottom: 0;
}
.icon:hover{
	 transform: rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
	transition: all 0.8s linear;
}
.icon2{
	height: 80px;
	width: auto;
	margin-bottom: 0;
}
.institution{
	margin:0;
}
.education .left-button{
	position: absolute;
	height: auto;
	width: 20px;
	height: 30%;
	border: none;
	background-color: white;
	max-height: inherit;
	left: 10px;
	z-index: 5;
	overflow: hidden;
	font-size: 32px;
}
.education .left-button:focus{
	outline:0;
}
.education .right-button{
	position: absolute;
	height: auto;
	width: 20px;
	height: 30%;
	border: none;
	background-color: white;
	max-height: inherit;
	right: 10px;
	z-index: 5;
	overflow: hidden;
	font-size: 32px;
}
.education .right-button:focus{
	outline:0;
}
*{
	box-sizing: border-box
}
.right-button:hover{
	
}
.mySlides{
	
	padding-right: 0;
	height: auto;
	max-height: 100%;
}
.skills{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.hobbies{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;

	
}
.hobbies p{
	margin-right: 20px;
	margin-left: 20px;
}
.hobbies img{
	margin-left: 5px;
	margin-right: 5px;
}	
.leftIcon{
	float: left;
	height: 60px;
	width: auto;
	transform: rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
	transition: all 0.8s linear;
}
.leftIcon:hover{
	transform: rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
	transition: all 0.8s linear;
}
.rightIcon{
	float: right;
	height: 60px;
	width: auto;
	transform: rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
	transition: all 0.8s linear;
}
.rightIcon:hover{
	transform: rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
	transition: all 0.8s linear;
}

.references{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}